#work {
    width: 325px;
    height: 240px;
    margin: 20px;
}



#work img {
    height: 100%;
    background-size: cover;
    width: 100%;
    min-width: 100%;
    position: relative;
}

#work h5 {
    position: relative;
    bottom: 70px;
    background-color: #8C3E44;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

@media screen and (max-width: 980px) {
    
}
@media screen and (max-width: 768px) {

  
}
@media screen and (max-width: 640px) {

} 