img {
    height: 250px;
    background-size: cover;
    width: 100%;
    min-width: 100%;
    
}

h5 {
    position: relative;
    bottom: 70px;
    background-color: #8C3E44;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}