/* COLORS AND STYLES*/
body, html {
    background-color: #51232D;
    color: #262323;
    font-family: 'Arimo', sans-serif;
    height: 100%;
}
* {
    box-sizing: border-box;
  }

header {
    background-color: #8C3E44;
}
footer {
    background-color: #262323;
    color: white;
    line-height: 50px;
    padding: 0 20px;
    text-align: center;
}
.container {
    width: 100%;
    margin: 0 auto;
    clear: both;
}
h1 {
    background-color: #403236;
    text-align: center;
    color: #A4A6A5;
    height: 100%;
    margin: auto;
}
nav, nav a, .nav-link.active {
    color: #262323;
    position: relative;
    display: inline;

}

#main-container {
    background-color: #A4A6A5;
    width: 100%;
    margin: 0 auto;
    clear: both;
}

#page-content {
    flex: 1 0 auto;
  }
#sticky-footer {
    flex-shrink: none;
  }






@media screen and (max-width: 980px) {
   
    
}
@media screen and (max-width: 768px) {

  
}
@media screen and (max-width: 640px) {

} 